# Copyright (c) 2025, gaiaochos.com
# SPDX-License-Identifier: Apache 2.0

config LIS3DSHTR
	bool "ST LIS3DSHTR 3 Axis Accelerometer"
	default y
	select SPI
	depends on DT_HAS_ST_LIS3DSHTR_ENABLED
	help
	  Enable driver for the LI3DSHTR SPI based accelemetor
	  with a temperature sensor.



